.p-character-creation {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  * {
    margin-top: 2rem;
  }

  &__stats {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  &__stat {
    width: 20%;
  }
}