.p-character-creation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  .container {
    background-color: rgba(17, 17, 17, 0.8);
  }

  &__stats {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__stat {
    width: 20%;
  }

  &__img {
    border-radius: 100%;
    object-fit: cover;
    width: 23.4375rem;
    height: 23.4375rem;
  }
}