.c-race {
  padding-top: 5rem;
  text-align: center;

  &__description {
    margin-top: 2rem;
    text-align: left;
  }

  &__stats-title {
    margin-top: 2rem;
  }

  &__base-stats {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  &__stat {
    width: 20%;
  }

  &__skills-title {
    margin-top: 2rem;
  }

  &__skill {
    margin-top: 1rem;
  }
}