body {
  font-size: 2rem;
  font-family: Footlight MT Light, serif;
  color: white;
  background: #111111;

  * {
    animation: appear 0.2s;
    -webkit-animation: appear 0.2s;
    -moz-animation: appear 0.2s;
  }
}