@import '../../styles/tools/variable.tools';

.c-navbar {
  position: fixed;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: #111111;

  &__title {
    padding-left: 1rem;
    width: 25%;
    color: $color-blue;
  }

  &__links {
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
    width: 75%;
  }

  a {
    color: white;
    text-decoration: none;
    padding: 2rem;
    display: block;
  }

  .selected {
    color: $color-blue;
    font-style: italic;
    text-decoration: underline;
  }
}