.c-class {
  padding-top: 5rem;
  margin-bottom: 2.5rem;

  &__name {
    text-align: center;
  }

  &__description {
    margin-top: 2rem;
  }

  &__equippables {
    margin-top: 2rem;
  }

  &__skillset {
    margin-top: 2rem;
    text-align: center;
  }

  &__level {
    margin-top: 2rem;
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}